body {
  width:100%;
  height:100%;
  background-color:#000000;
  min-width:1280px;
  min-height:768px;
}

ul {
  padding:0px;
  margin:0px;
}


canvas {
    image-rendering: pixelated;
}

/*--------------------------------------------------------------------------*/
input[type=range].slider-horizontal {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range].slider-horizontal:focus {
  outline: none;
}
input[type=range].slider-horizontal::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #060606;
  border-radius: 5px;
  border: 0px solid #010101;
}
input[type=range].slider-horizontal::-webkit-slider-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15.5px;
}
input[type=range].slider-horizontal:focus::-webkit-slider-runnable-track {
  background: #131313;
}
input[type=range].slider-horizontal::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #060606;
  border-radius: 5px;
  border: 0px solid #010101;
}
input[type=range].slider-horizontal::-moz-range-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
}
input[type=range].slider-horizontal::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider-horizontal::-ms-fill-lower {
  background: #000000;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider-horizontal::-ms-fill-upper {
  background: #060606;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider-horizontal::-ms-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
  height: 9px;
}
input[type=range].slider-horizontal:focus::-ms-fill-lower {
  background: #060606;
}
input[type=range].slider-horizontal:focus::-ms-fill-upper {
  background: #131313;
}


/*--------------------------------------------------------------------------*/

input[type=range].slider-vertical {
  -webkit-appearance: none;
  height: 100%;
  margin: 0px 0px 0px 0px;
}

input[type=range].slider-vertical:focus {
  outline: none;
}

input[type=range].slider-vertical::-webkit-slider-runnable-track {
  height: 100%;
  width: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #060606;
  border-radius: 5px;
  border: 0px solid #010101;
}

input[type=range].slider-vertical::-webkit-slider-thumb {
  box-shadow: 0px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  width: 100px;
  height: 43px;
  zoom:2;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -7px;
}

input[type=range].slider-vertical:focus::-webkit-slider-runnable-track {
  background: #131313;
}

/*--------------------------------------------------------------------------*/


input[type=range].slider-vertical::-moz-range-track {
  height: 100%;
  width: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #060606;
  border-radius: 5px;
  border: 0px solid #010101;
}

input[type=range].slider-vertical::-moz-range-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  width: 40px;
  height: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
}

/*--------------------------------------------------------------------------*/

input[type=range].slider-vertical::-ms-track {
  height: 100%;
  width: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range].slider-vertical::-ms-fill-lower {
  background: #000000;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range].slider-vertical::-ms-fill-upper {
  background: #060606;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range].slider-vertical::-ms-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  width: 40px;
  height: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
  height: 9px;
}

/*--------------------------------------------------------------------------*/

input[type=range].slider-vertical:focus::-ms-fill-lower {
  background: #060606;
}

input[type=range].slider-vertical:focus::-ms-fill-upper {
  background: #131313;
}

/*------------------------------------------------------------------------------*/


input[type=range].hueslider{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,ffff00+16,00ff00+33,00ff00+33,00ffff+50,0000ff+66,0000ff+66,ff00ff+83,ff00ff+83,ff0000+100 */
}

input[type=range].brightslider {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,008cff+50,ffffff+100 */

}

#pluginwindow{
  border-radius:8px;
  border:1px solid #3a3a3a;
}

/*--------------------------------------------------------------------------*/

  df-slider {
    display:block;
  }

  .df_slider_race {
    border-radius:5px;
  }


.df_slider_race.slider-horizontal {
  }
.df_slider_gadget.slider-horizontal {
  }

.df_slider_race.slider-vertical {
  }

.df_slider_gadget.slider-vertical {
  }

#slider_red .df_slider_gadget { background-image: linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -o-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -moz-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -webkit-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -ms-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #6E0000), color-stop(0.6, #BD0606), color-stop(0.85, #FF0015) ); }
#slider_green .df_slider_gadget { background-image: linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -o-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -moz-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -webkit-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -ms-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #006E00), color-stop(0.6, #07BD07), color-stop(0.85, #40FF00) ); }
#slider_blue .df_slider_gadget { background-image: linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -o-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -moz-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -webkit-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -ms-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #001C6E), color-stop(0.6, #0717BD), color-stop(0.85, #005EFF) ); }

/*--------------------------------------------------------------------------*/

.buttonlist {
  position    : absolute;
  width     : 420px;
  height      : 520px;
  top       : 10px;
  overflow    : auto;
  overflow-x    : hidden;
  border      : 1px solid black;
  padding     : 5px;
  background-color: #236fb1;
  border-radius : 8px;



}

.bigbutton2 {
  width     : 86%;
  font-family   : Arial;
  font-size   : 25px;
  margin      : 5px;
  padding     : 12px;
  display     : inline-block;
  border-radius : 8px;
  border      : 3px solid #73b1e7;
  cursor      : pointer;
  word-wrap   : break-word;


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,adadad+22,b2b2b2+79,474747+91&0.7+0,0.7+97 */

}


.buttonlist li, .bigbutton {
  width     : 86%;
  font-family   : Arial;
  font-size   : 25px;
  margin      : 5px;
  padding     : 12px;
  display     : inline-block;
  border-radius : 8px;
  border      : 3px solid #73b1e7;
  cursor      : pointer;
  word-wrap   : break-word;


}

.buttonlist li.folderlist, .bigbutton.folderlist {

}
.buttonlist li.folderlist.playingfolder, .bigbutton.folderlist.on2 {
  border-color    : #00c000;
}

.buttonlist li.playing, .bigbutton.folderlist.on {

}

.previewcontext {
  border:2px solid #000000;
  margin-top:2px;
  margin-left:5px;
  border-radius:8px;
  background-color:black;
}

.catbuttons {
  padding     : 5px;
  background-color: orange;
  border-radius : 5px;
  width     : 420px;
  position    : absolute;
  top       : 100%;
  margin-top    : -480px;
  height      : 46px;

}

#actionwindow img {
  width:75px;
  height:77px;
  margin-left:10px;
}

.catbuttons table {
  width     : 100%;
}

.catbuttons td {
  width     : 33%;
  text-align    : center;
}
.catbuttons span {
  background-color:yellow;
  text-align    : center;
  display     : inline-block;
  width     : 92%;
  border-radius : 5px;
  height      : 30px;
  border      : 2px solid black;
  vertical-align  : middle;
  padding-top   : 12px;
  font-family   : arial;
  cursor      : pointer;
}

#actionlist div, .actionlist div {
  border-radius : 10px;
  height      : 40px;
  border      : 3px solid #5a5a5a;
  background-color: #eaeaea;
  border-radius : 15px;
  margin-bottom : 5px;
  text-align    : center;
  padding-top   : 15px;
  font-family   : arial;
  font-size   : 20px;
  cursor      : pointer;
  background-color: #6a6a6a;

}

#actionlist div.playing, .actionlist div.playing {
  border      : 3px solid #00c000;
  color     : white;

}

#actionlist div.hasinterface, .actionlist div.hasinterface {
  border      : 3px solid #44c0ff;
  color     : white;

}

/*-------------------------------------------------*/

::-webkit-scrollbar {
    width: 42px;
    height: 42px;
}

::-webkit-scrollbar-track {
    /*box-shadow:  0 0 6px rgba(0,0,0,.6) inset;*/
    box-shadow: inset 2px 2px 5px rgba(10,10,10,.5);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset  -2px -2px 3px rgba(20,20,20,.6);



}


  .onoff-notoggle img {
    opacity:0;
  }


.df_onoff_nameplate {

}





.nooverflow::-webkit-scrollbar-track {
  /*box-shadow:  0 0 6px rgba(0,0,0,.6) inset;*/
  box-shadow: none;
  border-radius: 0;
  background-image: none;
}

.nooverflow::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: none;
  background-image: none;

}
