body {
  width:100%;
  height:100%;
  background-color:#000000;
  min-width:1280px;
  min-height:768px;
}

ul {
  padding:0px;
  margin:0px;
}


canvas {
    image-rendering: pixelated;
}

/*--------------------------------------------------------------------------*/
input[type=range].slider-horizontal {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range].slider-horizontal:focus {
  outline: none;
}
input[type=range].slider-horizontal::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #060606;
  border-radius: 5px;
  border: 0px solid #010101;
}
input[type=range].slider-horizontal::-webkit-slider-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15.5px;
}
input[type=range].slider-horizontal:focus::-webkit-slider-runnable-track {
  background: #131313;
}
input[type=range].slider-horizontal::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #060606;
  border-radius: 5px;
  border: 0px solid #010101;
}
input[type=range].slider-horizontal::-moz-range-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
}
input[type=range].slider-horizontal::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider-horizontal::-ms-fill-lower {
  background: #000000;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider-horizontal::-ms-fill-upper {
  background: #060606;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider-horizontal::-ms-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
  height: 9px;
}
input[type=range].slider-horizontal:focus::-ms-fill-lower {
  background: #060606;
}
input[type=range].slider-horizontal:focus::-ms-fill-upper {
  background: #131313;
}


/*--------------------------------------------------------------------------*/

input[type=range].slider-vertical {
  -webkit-appearance: none;
  height: 100%;
  margin: 0px 0px 0px 0px;
}

input[type=range].slider-vertical:focus {
  outline: none;
}

input[type=range].slider-vertical::-webkit-slider-runnable-track {
  height: 100%;
  width: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #060606;
  border-radius: 5px;
  border: 0px solid #010101;
}

input[type=range].slider-vertical::-webkit-slider-thumb {
  box-shadow: 0px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  width: 100px;
  height: 43px;
  zoom:2;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -7px;
}

input[type=range].slider-vertical:focus::-webkit-slider-runnable-track {
  background: #131313;
}

/*--------------------------------------------------------------------------*/


input[type=range].slider-vertical::-moz-range-track {
  height: 100%;
  width: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #060606;
  border-radius: 5px;
  border: 0px solid #010101;
}

input[type=range].slider-vertical::-moz-range-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  width: 40px;
  height: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
}

/*--------------------------------------------------------------------------*/

input[type=range].slider-vertical::-ms-track {
  height: 100%;
  width: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range].slider-vertical::-ms-fill-lower {
  background: #000000;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range].slider-vertical::-ms-fill-upper {
  background: #060606;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range].slider-vertical::-ms-thumb {
  box-shadow: 2.3px 2.3px 11.5px #000000, 0px 0px 2.3px #0d0d0d;
  border: 1px solid #000000;
  width: 40px;
  height: 43px;
  border-radius: 6px;
  background: #dedede;
  cursor: pointer;
  height: 9px;
}

/*--------------------------------------------------------------------------*/

input[type=range].slider-vertical:focus::-ms-fill-lower {
  background: #060606;
}

input[type=range].slider-vertical:focus::-ms-fill-upper {
  background: #131313;
}

/*------------------------------------------------------------------------------*/


input[type=range].hueslider{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,ffff00+16,00ff00+33,00ff00+33,00ffff+50,0000ff+66,0000ff+66,ff00ff+83,ff00ff+83,ff0000+100 */
background: #ff0000; /* Old browsers */
background: -moz-linear-gradient(left,  #ff0000 0%, #ffff00 16%, #00ff00 33%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #0000ff 66%, #ff00ff 83%, #ff00ff 83%, #ff0000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ff0000 0%,#ffff00 16%,#00ff00 33%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#0000ff 66%,#ff00ff 83%,#ff00ff 83%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ff0000 0%,#ffff00 16%,#00ff00 33%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#0000ff 66%,#ff00ff 83%,#ff00ff 83%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
}

input[type=range].brightslider {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,008cff+50,ffffff+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(left,  #000000 0%, #008cff 50%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #000000 0%,#008cff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #000000 0%,#008cff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

#pluginwindow{
  background:radial-gradient(#a7b2b8, rgba(167, 178, 184, 0) 50%), linear-gradient(to right bottom, #3d7195, #a7b2b8, #2b2e34)!important;
  border-radius:8px;
  border:1px solid #3a3a3a;
}

/*--------------------------------------------------------------------------*/

  df-slider {
    display:block;
  }

  .df_slider_race {
    border-radius:5px;
  }


.df_slider_race.slider-horizontal {
  background-image: linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -o-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -moz-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -webkit-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -ms-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -webkit-gradient( linear, right top, right bottom, color-stop(0.25, #616161), color-stop(0.72, #9F9C99), color-stop(0.86, #BFBCB8) );
  }
.df_slider_gadget.slider-horizontal {
  background-image: linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -o-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -moz-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -webkit-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -ms-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #3a6a9a), color-stop(0.6, #5080bf), color-stop(0.85, #90cfff) );
  }

.df_slider_race.slider-vertical {
  background-image: linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -o-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -moz-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -webkit-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -ms-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
  background-image: -webkit-gradient( linear, right top, right bottom, color-stop(0.25, #616161), color-stop(0.72, #9F9C99), color-stop(0.86, #BFBCB8) );
  }

.df_slider_gadget.slider-vertical {
  background-image: linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -o-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -moz-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -webkit-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -ms-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #3a6a9a), color-stop(0.6, #5080bf), color-stop(0.85, #90cfff) );
  }

#slider_red .df_slider_gadget { background-image: linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -o-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -moz-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -webkit-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -ms-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #6E0000), color-stop(0.6, #BD0606), color-stop(0.85, #FF0015) ); }
#slider_green .df_slider_gadget { background-image: linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -o-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -moz-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -webkit-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -ms-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #006E00), color-stop(0.6, #07BD07), color-stop(0.85, #40FF00) ); }
#slider_blue .df_slider_gadget { background-image: linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -o-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -moz-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -webkit-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -ms-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #001C6E), color-stop(0.6, #0717BD), color-stop(0.85, #005EFF) ); }

/*--------------------------------------------------------------------------*/

.buttonlist {
  position    : absolute;
  width     : 420px;
  height      : 520px;
  top       : 10px;
  overflow    : auto;
  overflow-x    : hidden;
  border      : 1px solid black;
  padding     : 5px;
  background-color: #236fb1;
  border-radius : 8px;



}

.bigbutton2 {
  width     : 86%;
  font-family   : Arial;
  font-size   : 25px;
  margin      : 5px;
  padding     : 12px;
  display     : inline-block;
  border-radius : 8px;
  border      : 3px solid #73b1e7;
  cursor      : pointer;
  word-wrap   : break-word;


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,adadad+22,b2b2b2+79,474747+91&0.7+0,0.7+97 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(173,173,173,0.7) 22%, rgba(178,178,178,0.7) 79%, rgba(71,71,71,0.7) 91%, rgba(71,71,71,0.7) 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(173,173,173,0.7) 22%,rgba(178,178,178,0.7) 79%,rgba(71,71,71,0.7) 91%,rgba(71,71,71,0.7) 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(173,173,173,0.7) 22%,rgba(178,178,178,0.7) 79%,rgba(71,71,71,0.7) 91%,rgba(71,71,71,0.7) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3474747',GradientType=0 ); /* IE6-9 */

}


.buttonlist li, .bigbutton {
  width     : 86%;
  font-family   : Arial;
  font-size   : 25px;
  margin      : 5px;
  padding     : 12px;
  display     : inline-block;
  border-radius : 8px;
  border      : 3px solid #73b1e7;
  cursor      : pointer;
  word-wrap   : break-word;

background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#539fe1 79%,#87bcea 100%); /* IE10+ */
background: linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#539fe1 79%,#87bcea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */


}

.buttonlist li.folderlist, .bigbutton.folderlist {
  background-image: linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);
  background-image: -o-linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.47, rgb(204,181,34)),
    color-stop(0.32, rgb(191,167,73)),
    color-stop(0.82, rgb(237,224,142))
  );
}
.buttonlist li.folderlist.playingfolder, .bigbutton.folderlist.on2 {
  border-color    : #00c000;
}

.buttonlist li.playing, .bigbutton.folderlist.on {
  background-image: linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);
  background-image: -o-linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.47, rgb(34,204,54)),
    color-stop(0.32, rgb(73,191,81)),
    color-stop(0.82, rgb(146,235,141))
  );
}

.previewcontext {
  border:2px solid #000000;
  margin-top:2px;
  margin-left:5px;
  border-radius:8px;
  background-color:black;
}

.catbuttons {
  padding     : 5px;
  background-color: orange;
  border-radius : 5px;
  width     : 420px;
  position    : absolute;
  top       : 100%;
  margin-top    : -480px;
  height      : 46px;

}

#actionwindow img {
  width:75px;
  height:77px;
  margin-left:10px;
}

.catbuttons table {
  width     : 100%;
}

.catbuttons td {
  width     : 33%;
  text-align    : center;
}
.catbuttons span {
  background-color:yellow;
  text-align    : center;
  display     : inline-block;
  width     : 92%;
  border-radius : 5px;
  height      : 30px;
  border      : 2px solid black;
  vertical-align  : middle;
  padding-top   : 12px;
  font-family   : arial;
  cursor      : pointer;
}

#actionlist div, .actionlist div {
  border-radius : 10px;
  height      : 40px;
  border      : 3px solid #5a5a5a;
  background-color: #eaeaea;
  border-radius : 15px;
  margin-bottom : 5px;
  text-align    : center;
  padding-top   : 15px;
  font-family   : arial;
  font-size   : 20px;
  cursor      : pointer;

  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
  background: linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

}

#actionlist div.playing, .actionlist div.playing {
  border      : 3px solid #00c000;
  color     : white;

background-image: linear-gradient(bottom, rgb(25,66,44) 4%, rgb(39,107,41) 52%, rgb(133,200,127) 76%);
background-image: -o-linear-gradient(bottom, rgb(25,66,44) 4%, rgb(39,107,41) 52%, rgb(133,200,127) 76%);
background-image: -moz-linear-gradient(bottom, rgb(25,66,44) 4%, rgb(39,107,41) 52%, rgb(133,200,127) 76%);
background-image: -webkit-linear-gradient(bottom, rgb(25,66,44) 4%, rgb(39,107,41) 52%, rgb(133,200,127) 76%);
background-image: -ms-linear-gradient(bottom, rgb(25,66,44) 4%, rgb(39,107,41) 52%, rgb(133,200,127) 76%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.04, rgb(25,66,44)),
  color-stop(0.52, rgb(39,107,41)),
  color-stop(0.96, rgb(90,200,100))
);
}

#actionlist div.hasinterface, .actionlist div.hasinterface {
  border      : 3px solid #44c0ff;
  color     : white;

background-image: linear-gradient(bottom, rgb(55,255,111) 4%, rgb(39,189,41) 52%, rgb(133,255,127) 76%);
background-image: -o-linear-gradient(bottom, rgb(55,255,111) 4%, rgb(39,189,41) 52%, rgb(133,255,127) 76%);
background-image: -moz-linear-gradient(bottom, rgb(55,255,111) 4%, rgb(39,189,41) 52%, rgb(133,255,127) 76%);
background-image: -webkit-linear-gradient(bottom, rgb(55,111,74) 4%, rgb(39,189,41) 52%, rgb(133,255,127) 76%);
background-image: -ms-linear-gradient(bottom, rgb(55,255,111) 4%, rgb(39,189,41) 52%, rgb(133,255,127) 76%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.04, rgb(55,184,74)),
  color-stop(0.52, rgb(59,177,71)),
  color-stop(0.76, rgb(133,255,127))
);
}

/*-------------------------------------------------*/

::-webkit-scrollbar {
    width: 42px;
    height: 42px;
}

::-webkit-scrollbar-track {
    /*box-shadow:  0 0 6px rgba(0,0,0,.6) inset;*/
    box-shadow: inset 2px 2px 5px rgba(10,10,10,.5);
    border-radius: 5px;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(122,122,122)),
    color-stop(6, rgb(100,100,100))
  );
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset  -2px -2px 3px rgba(20,20,20,.6);


  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(155,155,155)),
    color-stop(3, rgb(233,233,233))
  );

}


  .onoff-notoggle img {
    opacity:0;
  }


.df_onoff_nameplate {
  background-image: linear-gradient(bottom, rgb(138,138,138) 4%, rgb(191,191,191) 19%, rgb(255,255,255) 83%);
  background-image: -o-linear-gradient(bottom, rgb(138,138,138) 4%, rgb(191,191,191) 19%, rgb(255,255,255) 83%);
  background-image: -moz-linear-gradient(bottom, rgb(138,138,138) 4%, rgb(191,191,191) 19%, rgb(255,255,255) 83%);
  background-image: -webkit-linear-gradient(bottom, rgb(138,138,138) 4%, rgb(191,191,191) 19%, rgb(255,255,255) 83%);
  background-image: -ms-linear-gradient(bottom, rgb(138,138,138) 4%, rgb(191,191,191) 19%, rgb(255,255,255) 83%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.04, rgb(138,138,138)),
    color-stop(0.19, rgb(191,191,191)),
    color-stop(0.83, rgb(255,255,255))
  );

}





.nooverflow::-webkit-scrollbar-track {
  /*box-shadow:  0 0 6px rgba(0,0,0,.6) inset;*/
  box-shadow: none;
  border-radius: 0;
  background-image: none;
}

.nooverflow::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: none;
  background-image: none;

}
