body {
	background-color:#000000;
}

ul {
	padding:0px;
	margin:0px;
}


	df-slider {
		display:block;
	}

	.df_slider_race {
		background-color:#ffcaca;
		border:	1px solid #8a8a8a;
		border-radius:5px;
		overflow:hidden;
		margin-top:5px;


	}

	.df_slider_gadget {
		background-color:#f0f0f0;
		border-radius:5px;

	}

.df_slider_race {
	background-image: linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
	background-image: -o-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
	background-image: -moz-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
	background-image: -webkit-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
	background-image: -ms-linear-gradient(top, #616161 25%, #9F9C99 72%, #BFBCB8 86%);
	background-image: -webkit-gradient( linear, right top, right bottom, color-stop(0.25, #616161), color-stop(0.72, #9F9C99), color-stop(0.86, #BFBCB8) );
	}
.df_slider_gadget {
	background-image: linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
	background-image: -o-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
	background-image: -moz-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
	background-image: -webkit-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
	background-image: -ms-linear-gradient(bottom, #3a6a9a 37%, #5080bf 60%, #90cfff 85%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #3a6a9a), color-stop(0.6, #5080bf), color-stop(0.85, #90cfff) );
	}
#slider_red .df_slider_gadget { background-image: linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -o-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -moz-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -webkit-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -ms-linear-gradient(bottom, #6E0000 37%, #BD0606 60%, #FF0015 85%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #6E0000), color-stop(0.6, #BD0606), color-stop(0.85, #FF0015) ); }
#slider_green .df_slider_gadget { background-image: linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -o-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -moz-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -webkit-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -ms-linear-gradient(bottom, #006E00 37%, #07BD07 60%, #40FF00 85%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #006E00), color-stop(0.6, #07BD07), color-stop(0.85, #40FF00) ); }
#slider_blue .df_slider_gadget { background-image: linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -o-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -moz-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -webkit-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -ms-linear-gradient(bottom, #001C6E 37%, #0717BD 60%, #005EFF 85%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, #001C6E), color-stop(0.6, #0717BD), color-stop(0.85, #005EFF) ); }

.buttonlist {
	position		: absolute;
	width			: 420px;
	height			: 520px;
	top				: 10px;
	overflow		: auto;
	overflow-x		: hidden;
	border			: 1px solid black;
	padding			: 5px;
	background-color: #236fb1;
	border-radius	: 8px;



}

.buttonlist li {
	width			: 86%;
	font-family		: Arial;
	font-size		: 25px;
	margin			: 5px;
	padding			: 12px;
	display			: inline-block;
	border-radius	: 8px;
	border			: 3px solid #73b1e7;
	cursor			: pointer;
	word-wrap		: break-word;

background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#539fe1 79%,#87bcea 100%); /* IE10+ */
background: linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#539fe1 79%,#87bcea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */


}

.buttonlist li.folderlist {
	background-image: linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);
	background-image: -o-linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(204,181,34) 47%, rgb(191,167,73) 32%, rgb(237,224,142) 82%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(204,181,34)),
		color-stop(0.32, rgb(191,167,73)),
		color-stop(0.82, rgb(237,224,142))
	);
}
.buttonlist li.folderlist.playingfolder {
	border-color		: #00c000;
}

.buttonlist li.playing {
	background-image: linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);
	background-image: -o-linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(34,204,54) 47%, rgb(73,191,81) 32%, rgb(146,235,141) 82%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(34,204,54)),
		color-stop(0.32, rgb(73,191,81)),
		color-stop(0.82, rgb(146,235,141))
	);
}

